body {
	background-color: #101010;
	text-align: center;
	color: white;
    margin: 5em;
}

a:-webkit-any-link {
	color: white;
	text-decoration: none;
}

.link {
	margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
	white-space: nowrap;
	display: inline-block;
    font-size: 30;
    border: 2px solid;
	border-radius: 3px;
}