@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	background-color: #101010;
	text-align: center;
	color: white;
	margin: 6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 5;
	color: #2b2b2b;
}

a:-webkit-any-link {
	color: white;
	text-decoration: none;
}

td {
	text-align: center;
	font-size: 14;
	padding: 5px;
}

#viewer{
	margin: auto;
	max-width: 65%;
	margin-top: 0;
}

th {
	border-bottom: 2px solid lightblue;
	padding: 5px;
	cursor: pointer;
}

th#unsortable {
	cursor: auto;
}

th#wide {
	width: 30%;
}

table {
	overflow: hidden;
	width: 85%;
	border: 2px solid;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

li {
	display: block;
	text-align: left;
	margin: 5px;
	font-size: 14;
}

tr.border_bottom td {
	border-bottom: 1pt solid white;
}

span#А{
	color: #6666ff;
}

span#М{
	color: rgb(230, 204, 22); /* Changed to LS Discord Server Role Color */
}

.angie {
	color: hotpink;
}

.link {
	margin: 5px 5px 5px 5px;
    padding: 8px 8px 8px 8px;
	white-space: nowrap;
	display: inline-block;
    font-size: 24;
    border: 2px solid;
	border-radius: 3px;
	font-weight: bold;
}

.rules_span {
	font-weight: bold;
	font-size: 25;
}

.header-old {
	width: 100%;
	position: absolute;
	position: absolute;
	background-color: black;
	top: 0;
    left: 0;
}

.header {
	width: 100%;
	position: fixed;
	background-color: black;
	top: 0;
    left: 0;
}

.header a {
	padding: 10px;
	vertical-align: middle;
	display: inline-block;
	border-bottom: 3px solid transparent
}

.header a:hover {
	background: rgba(255,255,255,0.15);
	-webkit-transition: background-color .2s;
	transition: background-color .2s, border .2s;
	border-bottom: 3px solid #1A59AF
}

.active {
	background: rgba(255,255,255,0.25);
}

#commandtab {
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
}
